@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    font-family: 'lato', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, span {
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

h1 {
    font-size: 36px;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

li {
    list-style: none;
}

.flex {
    display: flex;
}

.flex-1 {
flex: 1;
}

.container {
    padding: 50px 0;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.text--purple {
    color: #30E20B;
}

section:nth-child(even) {
background-color: #f8f8f8;
}

.section__title {
    margin: 20px;
}

/*

Navigation Bar

*/

nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link--list {
    display: flex;
}

.nav__link--anchor {
    margin: 0 12px;
    color: #242424;
    text-decoration: none;
    font-weight: 700;
}

.nav__link--anchor-primary {
    background-color: #30E20B;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
    background-color: #5d3eff;
}

.personal__logo {
    font-size: 24px;
     color: #30E20B;
     margin: 0 12px;
     font-weight: bold;
}

/*

About Me

*/

#about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.about-me__info{
    display: flex;
    flex-direction: column;
}

.about-me__img--container {
    flex: 1;
    display: flex;
    align-items: center;
}

.about-me__img {
 width: 100%;
 height: 45vh;
}

.about-me__info--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.about-me__picture--mask {
    width: 100px;
    height: 100px;
    border-radius: 10%;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.50);
    margin-bottom: 28px;
}

.about-me__picture {
    width: 100%;

    /*improving my own picture */
    transform: scale(1.5);
    padding: 16px;
}

.about-me__info--title {
    margin-bottom: 16px;
}

.about-me__info--para {
    font-size: 20px;
    margin-bottom: 28px;
}

.about-me__link {
    font-size: 20px;
    color: #242424;
    text-decoration: none;
    padding: 0 12px;
}


/* Tech - Stack */

.language__img {
    width: 100%;
    max-width: 100px;
}

.language {
    width: 25%;
}

.language__img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 16px;
}

.language__list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}